html {
	scroll-behavior: smooth;
}

.swal-overlay {
	background-color: rgba(0, 0, 0, 0.8);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;

}

#loading img {
	height: 10rem;
	width: auto;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  outline: 0;
  outline: thin dotted \9;
  border-bottom: 1px solid lightgray;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
  box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}




/*start removing border radius*/
#login-page, 
.card, 
.btn, 
.input-group-text, 
#fullname, 
#name,
#price,
#description,
#email, 
#password, 
#confirmPassword{
	border-radius: 0;
	outline: none;
}
/*end of border radius*/

#fullname, #name, #price, #email, #password, #confirmPassword {
	border: none;
	border-bottom: 1px solid lightgray;
	font-family: 'Poppins', sans-serif;
}

label {
	font-family: 'Merriweather', serif;
}

.btn {
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
}


#fullname:focus {
	outline: none;
}

.input-group-text {
	border: none;
	background-color: transparent;
}

#page404 {
	font-size: 4rem;
	font-family: 'Merriweather', serif;
	height: 100vh;
}

/*.card-header {
	background-color: lightgray;
}*/

/*start of nav*/

.navbar {
	font-family: 'Merriweather', serif;
	letter-spacing: .8px;
}

.nav-link {
	color: #000;
}

.nav-link:hover {
	background-color: lightgray;
	transition: .8s;
	color: white;
}

.navbar-brand img {
	object-fit: contain;
	height: 2.5rem;
	width: auto;
}

.navbar-brand img:hover {
	transform: rotate(360deg);
	transition: .5s;
}
/*end of nav*/

/*start of header*/
#header {
	background: 
	linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	url('./../images/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	min-height: 100vh;
	display: flex;
	justify-content: left;
	align-items: center;
	animation: fadeInAnimation ease 1.5s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#header h1 {
	font-size: 4rem;
	letter-spacing: 6px;
	text-shadow: 2px 2px 3px black;
	font-family: 'Merriweather', serif;
	font-weight: 900;
}

#header p {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	letter-spacing: 1.5px;
	color: lightgray;
	opacity: .8;
	font-weight: 200;
}

hr {
	border-color: lightgray;
	opacity: .3;
}

/*end of header*/

/*start of login and register page*/
#login-image {
	background-image: url('./../images/login-register-img.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

}

#register-image {
	background-image: url('./../images/login-register-img.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#login-page {
	font-family: 'Merriweather', serif;
	letter-spacing: .8px;
}

#register-page {
	font-family: 'Merriweather', serif;
	letter-spacing: .8px;
}
/*end of login and register page*/




/* start of featured */
#featured {
	min-height: 100vh;
	background-color: #faf9f9;
}

#featured h1 {
	font-family: 'Merriweather', serif;
	letter-spacing: .8px;
	text-shadow: 2px 2px 2px lightgray;
}


#ratings .fas {
	color: yellowgreen;
	text-shadow: 1px 1px 1px black;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.card {
	
	border: none;
}

.card img {
	height: 15rem;
	width: 100%;
	object-fit: cover;
	object-position: center;
	
}

.card h5 {
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px lightgray;
}

.card p {
	font-family: 'Roboto', sans-serif;
	color: gray;
	letter-spacing: .5px;
}

/* end of featured */

/* start of list rooms */
#list-room {
	background-color: #fff;

}

#list-room h1 {
	font-family: 'Merriweather', serif;
	letter-spacing: .8px;
	text-shadow: 2px 2px 2px lightgray;
}
/* end of list rooms*/

/* start of quotes */
#quotes {
	min-height: 50vh;
	background: 
	linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	url('./../images/quotes-img.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#quotes-info h1 {
	font-family: 'Merriweather', serif;
	text-shadow: 2px 2px 2px lightgray;
	letter-spacing: 2px;
	color: white;
}

#quotes-info p {
	font-family: 'Merriweather', serif;
	text-shadow: 1px 1px 1px lightgray;
	letter-spacing: 1px;
	color: white;
}
/* end of quotes */

#booking h1 {
	font-family: 'Merriweather', serif;
}

#booking img {
	height: 25rem;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

#booking-loading img {
	height: 8em;
	width: auto;
}

#about {
	background-image: url('./../images/about.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh;
}

#about2 h2 {
	font-family: 'Merriweather', serif;
	letter-spacing: 1.2px;
}

#about2 p {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;

}


#footer {
	min-height: 60vh;
	background-color: #21161e;
	color: white;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .8px;
}

#footer h1 {
	font-size: 2.5rem;
	font-family: 'Merriweather', serif;
}

#footer li {
	list-style: none;
}

#footers .fab {
	font-size: 1.4rem;
}

#footer p {
	font-family: 'Roboto', sans-serif;
}

#reservation h1 {
	font-family: 'Merriweather', serif;
}


@media all and (max-width: 500px) {
	#footer h1 {
		font-size: 2rem;
	}

	#about {
		height: 40vh;
	}
}